body{
    font-family: 'Poppins', sans-serif;
}

.name-highlight{
    color: orange;
}
h1{
    font-size: 40px;
}

.section1div{
    width: 40%;
    float: left;
    margin: 5%;
    padding: 0%;
}

.section1div img{
    width: 100%;
}





